<div class="grid-container">
  <h1 class="mat-h1">Manage Courses</h1>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Courses
        <!-- <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field> -->
        <button mat-flat-button class="add-button" color="primary">Add course</button>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div>
        <table mat-table class="full-width-table" matSort aria-label="Elements">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>

          <!-- Duration (years) Column -->
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration (months)</th>
            <td mat-cell *matCellDef="let row">{{row.duration}}</td>
          </ng-container>

          <!-- Lecturer Name Column -->
          <ng-container matColumnDef="degree_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Degree Name</th>
            <td mat-cell *matCellDef="let row">{{getDegreeName(row.degreeID)}}</td>
          </ng-container>

          <!-- More Column -->
          <ng-container matColumnDef="more" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-icon style="cursor: pointer;" [mat-menu-trigger-for]="editRow" (click)="setId(row.id)">more_vert</mat-icon>
            </td>
          </ng-container>

          <mat-menu #editRow="matMenu" yPosition=below >
            <button mat-menu-item (click)="editCourse()">
              <mat-icon>edit</mat-icon>
              <span>Edit Course</span>
            </button>
            <button mat-menu-item (click)="deleteCourse()">
              <mat-icon>delete</mat-icon>
              <span>Remove Course</span>
            </button>
          </mat-menu>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
            [length]="dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
