/* You can add global styles to this file, and also import other style files */
html,
body {
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}
